# EditorConfig is awesome: http://EditorConfig.org
# Since OBS follows the Linux kernel coding style I have started this file to
# help with automatically setting various text editors to those requirements.

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file.
[*]
insert_final_newline = false
trim_trailing_whitespace = false
indent_style = space
indent_size = 4

[*.{txt,md,cpp,c,h}]
indent_style = tab
indent_size = 8

[*.{json}]
indent_style = space
indent_size = 4

# As per notr1ch, for 3rd party code that's a part of obs-outputs.
[plugins/obs-outputs/librtmp/**/*.{cpp,c,h}]
indent_style = space
indent_size = 4

[**/CMakeLists.txt]
indent_style = space
indent_size = 2

[*.cmake]
indent_style = space
indent_size = 2

[*.{sh,bash,zsh}]
indent_style = space
indent_size = 4
line_ending = lf

[*.{yml,yaml}]
indent_style = space
indent_size = 2
